{% extends 'base.html' %} 


{% block content %}







<!-- Feed -->
<div class="feed">
  <div class="feed_header">
      <h1 class="title pt-5">{{ header }}</h1>
  </div>

  <div class="ekkobox">
      <form>
          <div class="ekkobox_input">
              <input type="text" placeholder="What's Happening">
          </div>

          <!-- create button -->
          <a class="button  create-button" href="{% url 'ekko_create' %}">Create an Ekko</a>
      </form>
  </div>


  <!-- Ekko Card -->
  <div class="gallery">

      {% for ekko in ekkos %}
      <a href="{% url 'ekko_detail' ekko.pk %}">
      <div class="card">
          
          <!-- User -->
          <div class="card-header">
          <!-- User Name -->
          <p class="card-user">{{ekko.user}}</p>
          </div>
  
          <!-- Ekko -->
          <div class="card-quote-box">
          <!-- <figure class="image is-square"> -->
              <!-- <img src="{{ekko.image}}" alt="{{ekko.name}}" /> -->
              <p class="card-quote">{{ekko.ekko}}</p>
          <!-- </figure> -->
          </div>
  
          <!-- Sourse -->
          <div class="card-source-box">
  
          <!-- Source Name -->
          <p class="card-source">{{ekko.source}}</p>
          
          <!-- Verification -->
          <div class="detail__name">
              {% if ekko.verified_ekko %}
              <div class="icon-text">
              <span class="icon has-text-info">
                  <i class="fas fa-check-circle"></i>
              </span>
              <span>Verified</span>
              </div>
              {% endif %}
          </div>
          </div>
  
          <!-- edit and delete buttons -->
          <div class="detail__container">
          <div class="buttons class-buttons">
              <a href="{% url 'ekko_delete' ekko.pk %}" class="button is-info is-small">
              <span class="icon">
                  <i class="far fa-comment"></i>
                  <!-- <i class="fa-solid fa-comment"></i> -->
              </span>
              </a>     	
              <a href="{% url 'ekko_update' ekko.pk %}" class="button is-info is-small">
              <span class="icon">
                  <i class="fas fa-edit"></i>
              </span>
              </a>
              <a href="{% url 'ekko_delete' ekko.pk %}" class="button is-danger is-small">
              <span class="icon">
                  <i class="fas fa-trash-alt"></i>
              </span>
              </a>
          </div>
          </div>   
  
      </div>
      </a>
  

      {% empty %}
      <article class="message">
      <div class="message-header">
          <p>No Ekkos Available</p>
      </div>
      </article>
  
      {% endfor %}
  </div>

</div>


<!-- Widgets -->
<div class="widget">

  <!-- search bar -->
  <form class="mb-5 search-bar" method="get">

      <div class="field has-addons">
          <div class="control">
              <input class="input" type="text" name="name" placeholder="name" />
          </div>
      
          <div class="control">
              <input class="button search-button" type="submit" value="Search" />
          </div>
      </div>

      <a class="button is-dark" href="{% url 'ekko_list' %}">Clear Search</a>

  </form>

  <!-- <div class="widgets_widgetContainer">
      <h2>What's Happening</h2>
  </div> -->

</div>
{% endblock %}
 

<!-- icon -->
<!-- fas fa-bookmark	&#xf02e;	 -->
<!-- far fa-bookmark	&#xf02e; -->

<!-- comment
far fa-comment	&#xf075; -->