{% extends 'base.html' %} 

{% block content %}
 
<div class="gallery-detail">
    <div class="card-detail">

        <!-- User -->
        <div class="card-header">
            <!-- User Name -->
            <p class="card-user">{{ekko.user}}</p>
        </div>

        <!-- Ekko -->
        <div class="card-quote-box">
            <p class="card-quote">{{ekko.ekko}}</p>
        </div>

        <!-- Sourse -->
        <div class="card-source-box">

            <!-- Source Name -->
            <p class="card-source">{{ekko.source}}</p>
            
            <!-- Verification -->
            <div class="detail__name">
                {% if ekko.verified_ekko %}
                <div class="icon-text">
                    <span class="icon has-text-info">
                    <i class="fas fa-check-circle"></i>
                    </span>
                    <span>Verified</span>
                </div>
                {% endif %}
            </div>

        </div>

        <!-- edit and delete buttons -->
        <div class="detail__container">
            <div class="buttons class-buttons">
            <a href="{% url 'ekko_delete' ekko.pk %}" class="button is-info is-small">
                <span class="icon">
                <i class="far fa-comment"></i>
                </span>
            </a>     	
            <a href="{% url 'ekko_update' ekko.pk %}" class="button is-info is-small">
                <span class="icon">
                <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'ekko_delete' ekko.pk %}" class="button is-danger is-small">
                <span class="icon">
                <i class="fas fa-trash-alt"></i>
                </span>
            </a>
            </div>
    </div>
</div>


<!-- Comment form -->
<div class="comment-box">
    <form class="mb-5 comment-form" action="{% url 'comment_create' ekko.pk %}" method="post">
        {% csrf_token %}
        
            <div class="comment-input">
                <input
                    class="input"
                    type="text"
                    name="comment"
                    placeholder="comment"
                    required
                />
            </div>
            
            <input class="button comment-button" type="submit" value="Add Comment" />
        
    </form>
</div>


<!-- Comment Display -->
{% for comment in ekko.comments.all %}
<div class="gallery comment-gallery">
    <div class="card">

        <!-- User -->
        <div class="card-header">
            <!-- User Name -->
            <p class="card-user">{{comment.user}}</p>
        </div>

        <!-- Ekko -->
        <div class="card-quote-box">
            <p class="card-quote">{{comment.comment}}</p>
        </div>

        {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Comment Available</p>
          </div>
        </article>

    </div>
</div>
{% endfor %}

{% endblock %}