{% extends 'base.html' %} 

{% block content %}
 
<div class="gallery">
    <div class="card">

        <!-- User -->
        <div class="card-header">
            <!-- User Name -->
            <p class="card-user">{{ekko.user}}</p>
        </div>

        <!-- Ekko -->
        <div class="card-quote-box">
            <p class="card-quote">{{ekko.ekko}}</p>
        </div>

        <!-- Sourse -->
        <div class="card-source-box">

            <!-- Source Name -->
            <p class="card-source">{{ekko.source}}</p>
            
            <!-- Verification -->
            <div class="detail__name">
                {% if ekko.verified_ekko %}
                <div class="icon-text">
                    <span class="icon has-text-info">
                    <i class="fas fa-check-circle"></i>
                    </span>
                    <span>Verified</span>
                </div>
                {% endif %}
            </div>

        </div>

        <!-- edit and delete buttons -->
        <div class="detail__container">
            <div class="buttons class-buttons">
            <a href="{% url 'ekko_delete' ekko.pk %}" class="button is-info is-small">
                <span class="icon">
                <i class="far fa-comment"></i>
                </span>
            </a>     	
            <a href="{% url 'ekko_update' ekko.pk %}" class="button is-info is-small">
                <span class="icon">
                <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'ekko_delete' ekko.pk %}" class="button is-danger is-small">
                <span class="icon">
                <i class="fas fa-trash-alt"></i>
                </span>
            </a>
            </div>
    </div>
</div>


{% endblock %}