{% extends 'base.html' %} 


{% block content %}




<!-- Feed -->
<div class="feed">
    <div class="feed_header">
        <h1 class="title pt-5">{{ header }}</h1>
    </div>

    <div class="ekkobox">
        <form>
            <div class="ekkobox_input">
                <input type="text" placeholder="Quote Here">
            </div>

            <!-- create button -->
            <a class="button  create-button" href="{% url 'ekko_create' %}">Create an Ekko</a>
        </form>
    </div>

<!-- 
    Post
    <div class="post">
        <div class="post_avatar">
            image here
        </div>

        <div class="post_body">
            <div class="post_header">
                <div class="post_headerText">
                    <h3>Sam Aum
                        <span class="post_headerSpecial">
                            <span class="material-icon post_badge"> verified </span>@Sam Aum
                        </span>
                    </h3>
                </div>
                <div class="post_headerDescription">
                    <p>Lorem ipsum dolor sit amet casdf asdf asdf asd asd asdf asdf asdf asdf asdf asdf asdf asdf asdfasdfas fasd asdf asdf asdf asdf asdf asdf asdf asdfonsectetur adipisicing elit.</p>
                </div>
            </div>
            {% for ekko in ekkos %}
            <div class="class-buttons">
                comment
                <a href="{% url 'ekko_delete' ekko.pk %}">
                    <span class="material-icons">chat_bubble_outline</span>
                </a>     	
                bookmark
                <a href="{% url 'ekko_update' ekko.pk %}">
                    <span class="material-icons">bookmark_border</span>
                </a>  
                like
                <a href="{% url 'ekko_update' ekko.pk %}">
                <span class="material-icons">favorite_border</span>
                </a>  
            </div>
            {% endfor %}
        </div>
    </div>  
-->

    <!-- Ekko Card -->
    <div class="gallery">

        {% for ekko in ekkos %}
        <a href="{% url 'ekko_detail' ekko.pk %}">
        <div class="card">
            
            <!-- User -->
            <div class="card-header">
                <!-- User Name -->
                <p class="card-user">{{ekko.user}}</p>
            </div>
    
            <!-- Ekko -->
            <div class="card-quote-box">
                <p class="card-quote">{{ekko.ekko}}</p>
            </div>
    
            <!-- Sourse -->
            <div class="card-source-box">
    
                <!-- Source Name -->
                <p class="card-source">
                    {{ekko.source}}

                    {% if ekko.verified_ekko %}
                    <span class="icon has-text-info">
                        <i class="fas fa-check-circle"></i>
                    </span>

                    <!-- <span>Verified</span> -->
                    {% endif %}
                </p>
                        
            </div>
    
            <!-- edit and delete buttons -->
          
            <div class="class-buttons">
                <!-- comment -->
                <a href="{% url 'ekko_detail' ekko.pk %}">
                    <span class="material-icons">chat_bubble_outline</span>
                </a>     	
                <!-- bookmark -->
                <a href="{% url 'ekko_update' ekko.pk %}">
                    <span class="material-icons">bookmark_border</span>
                </a>  
                <!-- like -->
                <a href="{% url 'ekko_update' ekko.pk %}">
                <span class="material-icons">favorite_border</span>
                </a>  
            </div>
            
        </div>
        </a>
    

        {% empty %}
        <article class="message">
        <div class="message-header">
            <p>No Ekkos Available</p>
        </div>
        </article>
    
        {% endfor %}
    </div>

</div>


<!-- Widgets -->
<div class="widget">
    
    <!-- User Info -->
    {% if user.is_authenticated %}
        <div class="user-info">
            <h2>Welcome: {{user.username}}</h2>
        </div>
    {% else %}
        <div></div>
    {% endif %}


    <!-- search bar -->
    <form class="search" method="get">

        <!-- <div class="field has-addons"> -->
            <div class="control search-bar">
                <span class="material-icons">search</span>
                <input class="input" type="text" name="name" placeholder="Search Ekko" />
            </div>
        
            <!-- <div class="control">
                <input class="button search-button" type="submit" value="Search" />
            </div> -->
        <!-- </div> -->
  
        <a class="button clear-button" href="{% url 'home' %}">Clear Search</a>
  
    </form>
 
    

</div>




{% endblock %}
 